dvc
scikit-learn==1.7.0
pydantic==2.11.7
pytorch-lightning==2.5.2
tensorboard==2.19.0
ogb==1.3.6
wandb==0.21.0
omegaconf==2.3.0
PyGCL==0.1.2

pandas==2.3.1
seaborn==0.13.2
tqdm==4.67.1
typer==0.16.0
tabulate==0.9.0
umap-learn==0.5.9.post2
hydra-core==1.3.2
libtmux==0.46.2
mpire==2.10.2
mypy==1.17.0

jupyterlab==4.4.4
ipywidgets==8.1.7
rootutils==1.0.7
pre-commit==4.2.0

# openqdc==0.1.2
rdkit==2025.3.4
# nerfstudio==1.1.5